<mat-toolbar>Rotas e Pedágios</mat-toolbar>
<!-- Formulário Pesquisa por rota -->
<form>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutWrap>
    <!-- Input Origem -->
    <div fxFlex="50%" >
      <!-- Componente do pacote google-maps-autocomplete para o framework Angular, resposavel pela inserção dos pontos de origem e destino. -->
      <mat-google-maps-autocomplete [appearance]="appearance.OUTLINE" addressLabelText="Origem"
        placeholderText="Adicionar local de origem" (onAutocompleteSelected)="onAutocompleteSelected($event)"
        (onLocationSelected)="onLocationSelectedOrigin($event)">
      </mat-google-maps-autocomplete>
    </div>
    <!-- Input Destino -->
    <div fxFlex="50%" >
      <!-- Componente do pacote google-maps-autocomplete para o framework Angular, resposavel pela inserção dos pontos de origem e destino.-->
      <mat-google-maps-autocomplete [appearance]="appearance.OUTLINE" addressLabelText="Destino"
        placeholderText="Adicionar local de destino" (onAutocompleteSelected)="onAutocompleteSelected($event)"
        (onLocationSelected)="onLocationSelectedDestination($event)">
      </mat-google-maps-autocomplete>
    </div>
  </div>
</form>
<!-- Mapa - Componente do pacote agm-angular-google-maps para o framework Angular, responsável pela exibição do mapa.-->
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
  <!-- Componente doa pacote agm-direction para o framework Angular, responsável pela criação das Rotas. -->
  <agm-direction *ngIf="origin && destination" [origin]="origin" [destination]="destination" (onResponse)="onResponse($event)" #mapPage>
    <!-- Componente do pacote agm-angular-google-maps, responsável pela marcação dos pontos no mapa. -->
    <agm-marker *ngFor="let item of waypoints" [latitude]="item.Latitude" [longitude]="item.Longitude" [iconUrl]="waypointsIcon" [title]="item.Descricao"
    [visible]="item.Visible"></agm-marker>
  </agm-direction>
</agm-map>